@model Week04Lab.Models.CityProvinceViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            CityName
        </th>
        <th>
            Population
        </th>
        <th>
            Province
        </th>
    </tr>

@foreach (var item in Model.CityModel) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Population)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceId)
        </td>
    </tr>
}

</table>
